*
!.gitignore
!*.DsnWrk
!*.PrjPcb
!*.SchDoc
!*.PcbDoc
!*.OutJob
!*.PDF
!/Output
/Output/*
!/Output/Gerber
/Output/Gerber/*
!/Output/Gerber/*.GTL
!/Output/Gerber/*.GBL
!/Output/Gerber/*.GTO
!/Output/Gerber/*.GBO
!/Output/Gerber/*.GTS
!/Output/Gerber/*.GBS
!/Output/NC Drill
/Output/NC Drill/*
!/Output/NC Drill/*.TXT
!/Output/BOM
/Output/BOM/*
!/Output/BOM/*.XLS